transformers
datasets
sklearn
sentencepiece
matplotlib
protobuf<=3.20.1
flask
waitress
# install those first sudo apt-get install python3-dev default-libmysqlclient-dev build-essential for mysql
mysql-connector-python
mysqlclient
sqlalchemy
# pip3 install torch torchvision torchaudio --extra-index-url https://download.pytorch.org/whl/cpu
